# Задание 2

Решить ДУ 2-го порядка с указанными граничными условиями _(методом "стрельбы")_


$$y'' + xy' + y = 2x,  y(0) = 1,  y(1) = 0$$

# Решение

## Теория
Приведем задачу к системе дифференциальных уравнений первого порядка. 
Для этого введем обозначение `y' = z`. 

Тогда уравнение перепишется в виде системы уравнений: 
\begin{cases}
y' = z, 
\\
z' = -xz -y +2x
\end{cases}

Т.к. определены начальные условия, система 2-х ОДУ 1-го порядка с двумя начальными условиями сводится к задачи Коши. 

## Реализация
Метод прогонки

In [1]:
import math

In [2]:
x_a = 0
x_b = 1
y_a = 1
y_b = 3;
k = 20

alpha0 = 1
alpha1 = 0
betta0  = 1
betta1 = 0

h = 0.0
x, y, p, q, f, m, n, c, d = [0 for _ in range(k+1)], [0 for _ in range(k+1)], [0 for _ in range(k+1)], [0 for _ in range(k+1)], [0 for _ in range(k+1)], [0 for _ in range(k+1)], [0 for _ in range(k+1)], [0 for _ in range(k+1)], [0 for _ in range(k+1)]
i = 0

In [3]:
x[0] = x_a
x[k] = x_b
h = (x_b - x_a) / k

In [6]:
for i in range(k-1):
    x[i+1] = x[i] + h
    p[i] = 1 / x[i]
    q[i] = -1 / math.pow(x[i], 2)
    f[i] = 1
    m[i] = -2 + h*p[i]
    n[i] = 1 - h*p[i] + q[i]*math.pow(h,2)

**Прямой ход**

In [7]:
c[0] = (alpha1 - alpha0*h)/(m[0]*(alpha1 - alpha0*h) + n[0]*alpha1)
d[0] = n[0]*y_a*h/(alpha1 - alpha0*h)

In [8]:
for i in range(1, k-1):
    c[i] = 1/(m[i] - n[i]*c[i-1])
    d[i] = f[i]*math.pow(h,2) - n[i]*c[i-1]*d[i-1]

In [9]:
y[k] = (betta1*c[k-2]*d[k-2] + y_b*h)/(betta1*(1 + c[k-2]) + betta0*h)

**Обратный ход**

In [10]:
for i in range(1, k-1):
    y[k-i] = c[k-i-1]*(d[k-i-1] - y[k-i+1])

In [11]:
y[0] = (alpha1*y[1] - y_a*h)/(alpha1 - alpha0*h)

**Вывод значений**

In [13]:
import pandas as pd

pd.DataFrame({ "x": x, "y":y})

       x         y
0   0.05  1.000000
1   0.10  0.000000
2   0.15  0.067206
3   0.20  0.336507
4   0.25  0.526009
5   0.30  0.691666
6   0.35  0.847733
7   0.40  0.999502
8   0.45  1.149390
9   0.50  1.298659
10  0.55  1.448032
11  0.60  1.597955
12  0.65  1.748716
13  0.70  1.900510
14  0.75  2.053476
15  0.80  2.207711
16  0.85  2.363291
17  0.90  2.520271
18  0.95  2.678694
19  1.00  2.838595
20  1.00  3.000000