# Задание

Решить задачу Коши: 
\begin{cases}
y' = x^3 +y, 
\\
y(1) = 0
\\
x \in [1,2]
\end{cases}

Методами: 
1. Эйлера
2. Рунге-Кутта четвертого порядка
3. Адамса

# Решение

## Импорт необходимых библиотек

In [35]:
import numpy as np
from matplotlib import pyplot as plt
from collections import defaultdict
import pandas as pd

## Начальные условия и необходимые функции

In [36]:
def f(x, y):
    return x**3 + y

In [1]:
# x c [1; 2]
x0 = 1
b = 2
# y(1) = 0
y0 = 0

In [2]:
h = (b - x0) / 10
h

0.1

## 1. Метод Эйлера

In [39]:
data = defaultdict(list)

In [40]:
x = 1
while x <= 2 + h:
    data["x"].append(x)
    data["y"].append(y)
    data["f"].append(f(x, y))
    data["hf"].append(h * f(x,y))
    y = y + h * f(x, y)
    x = x + h

In [41]:
pd.DataFrame(data)

      x         y          f        hf
0   1.0  0.000000   1.000000  0.100000
1   1.1  0.100000   1.431000  0.143100
2   1.2  0.243100   1.971100  0.197110
3   1.3  0.440210   2.637210  0.263721
4   1.4  0.703931   3.447931  0.344793
5   1.5  1.048724   4.423724  0.442372
6   1.6  1.491097   5.587097  0.558710
7   1.7  2.049806   6.962806  0.696281
8   1.8  2.746087   8.578087  0.857809
9   1.9  3.603895  10.462895  1.046290
10  2.0  4.650185  12.650185  1.265019

## 2. Метод Рунге-Кутта четвертого порядка

## 3. Метод Адамса